::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "Arenq";
  src:
    local("Arenq"),
    url("../fonts/Arenq.otf") format("opentype");
}
@font-face {
  font-family: "Beckman";
  src:
    local("Beckman"),
    url("../fonts/Beckman-FREE.otf") format("opentype");
}
/* Remove duplicate and combine: */
@font-face {
  font-family: "Mova";
  src:
    local("Mova"),
    url("../fonts/Mova.otf") format("opentype"),
    url("../fonts/Mova.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
.cute-font {
  font-family: "Mova", "Arenq", "Beckman", "Segoe UI", sans-serif;
  letter-spacing: 0.4px;
}
